<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GOAT Song Share App</title>
</head>

<body>
  <h1>GOAT SONGS</h1>
  <a href = 'songs/new'>Add Song</a>
  <a href='/songs'>All Songs</a>

  <p></p>
</body>

</html>



<!-- have user model that has votes do this after first data model is done
users can add songs and vote on songs
Sign up 
for the model for data, when you add the vote property use numbers -->